:root {
  font-family: 'Rajdhani', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}

body {
  margin: 0;
  /* background-color: #f5f7fa; */
  background-color: #d7d8db;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}